.cards {
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 30px;
}
.card {
  width: calc((100% - 60px) / 3);
  padding: 24px;
  border-radius: var(--border-radius-sm);
  background-color: #f4f4f5;
  text-align: center;

  .title {
    margin: 12px 0 6px;
  }
  .img {
    position: relative;
    width: 100%;
    aspect-ratio: 348/260;
  }
}

@media (max-width: 475px) {
  .cards {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}
