.main {
  display: flex;
  flex-direction: column;
  gap: 200px;
}
.hero {
  padding-top: 170px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .content {
    max-width: 1072px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .subtitle {
    max-width: 705px;
  }

  .img {
    position: relative;
    max-width: 1505px;
    width: 100%;
    margin-top: -50px;
    z-index: -1;
  }
}

@media (max-width: 475px) {
  .main {
    gap: 140px;
  }
  .hero {
    padding-top: 120px;

    .img {
      width: 170%;
      margin-top: 40px;
    }
  }
}
